body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
body{
    background-color: #ccc;
}
.container{
    margin: 0 auto;
    background-color: #fff;
    width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}
/*******************************header**********************************/
header{
    width: 960px;
    height: 22px;
    position: relative;
}
header img{
    float: left;
}
header .about ul{
    float: right;
    list-style: none;
}
header .about ul li{
    margin-left: 22px;
    display: inline-block;
}
header .about ul li a{
    line-height: 22px;
    color: #ccc;
    text-decoration: none;
}
header .about ul li a:hover{
    color: #f00;
}
/*******************************mainbody**********************************/
.banner{
    width: 960px;
    height: 40px;
    border-top: 1px solid #eeeded;
    background: linear-gradient(#fff, #eeeded); /*颜色渐变*/
    box-sizing: border-box;
    margin-top: 23px;
}
.banner ul li{
    float: left;
    list-style: none;
    padding: 0 22px;
    line-height: 39px;
    font-size: 14px;
    font-weight: bold;
    border-right: 1px solid #eeeded;
    cursor: pointer;
}
.banner ul li:last-child{
    border-right: none;
}
/*首页固定*/
.banner ul li:first-child, .banner ul li:hover{
    color: #fff;
    background: linear-gradient(#9c0d82, #b31296);
    border: none;
}
.ad img{
    cursor: pointer;
}
.news{
    width: 960px;
    height: 30px;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 22px;
    color: #a8a8a8;
    border: 1px solid #ececec;
    line-height: 28px;
    box-sizing: border-box;
    position: relative;

}
.news p{
    display: inline-block;
    cursor: pointer;
}
.news p:last-child{
    float: right;
}
.news p:hover{
    color: #f00;
}
.photo{
    width: 960px;
    height: 220px;
    position: relative;
    display: inline-block;
    text-align: center;
}
.photo img {
    cursor: pointer;
}
.photo img:first-child{
    float: left;
}
.photo img:last-child{
    float: right;
}
/*******************************footer**********************************/
footer{
    width: 960px;
    height: 32px;
    margin-top: 36px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    padding: 0 20px;
}
footer ul li{
    list-style: none;
    color: #808080;
    float: left;
    padding-right: 30px;
    line-height: 30px;
}
footer ul li a{
    color: #808080;
    text-decoration: none;
}
footer ul li a:hover{
    color: #f00;
}
footer span{
    color: #941b82;
    line-height: 30px;
    float: right;
}