body{
    background: #fff url("../images/bg2.jpg") no-repeat top center;
    font-size: 14px;
}
/*头部*/
.header{
    width: 100%;
}
.header h1{
    display: none;
}
/*导航*/
.nav{
    width: 100%;
}
.nav span:first-child, .nav span:last-child{
    display: none;
}
.nav ul{
    width: 100%;
    display: flex;
}
/*广告*/
.banner, .banner a, .banner img {
    width: 100%;
    height: auto;
}
/*内容*/
.content, .product, .about{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.product{
    padding: 0;
    border-bottom: none;
}
.product ul li{
    width: 48%;
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(#f0f0f0, #fcfcfc);
}
.about{
    background: none;
}
.about_one,.about_one dl, .about_two, .about_three{
    width: 100%;
    background: none;
}
.about_one,.about_two, .about_three{
    width: 98%;
    margin: 1%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: linear-gradient(#f0f0f0, #fcfcfc);
}
.about_two ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/*下导航*/
.subNav{
    display: none;
}
/*底部*/
.footer{
    width: 98%;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    background: linear-gradient(#f0f0f0, #fcfcfc);
    border: 1px solid #ccc;
    border-radius: 10px;
}
.footer_in{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .footer_in p,.footer .footer_in h2 a{
    margin: 0;
}


