body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 12px;
    background-color: #fff;
    font-family: "Microsoft YaHei", Arial;
}

a {
    text-decoration: none;
}

.container {
    width: 1349px;
    height: 1220px;
    box-sizing: border-box;
}

/*********************************header start************************/
header {
    width: 1349px;
    height: 78px;
    padding: 0 75px;
    box-sizing: border-box;
}

header .logo {
    float: left;
    margin-top: 14px;
}

header .navigation nav {
    line-height: 78px;
    float: right;
    box-sizing: border-box;
}

header .navigation nav a {
    color: #333;
    padding: 0 10px;
}

header .navigation nav a:hover, header .navigation nav .orange {
    color: #ff6800;
}

header .navigation .sale {
    display: inline-block;
    width: 48px;
    height: 13px;
    position: relative;
    left: 330px;
    top: 20px;
    background: url("../images/jinglingtu.png") no-repeat 0 -368px;
}

header .navigation i:nth-of-type(2) {
    display: inline-block;
    width: 21px;
    height: 11px;
    position: relative;
    left: 526px;
    top: 20px;
    background: url("../images/jinglingtu.png") no-repeat 0 -338px;
}

header .navigation i:nth-of-type(3) {
    display: inline-block;
    width: 21px;
    height: 11px;
    position: relative;
    left: 942px;
    top: 20px;
    background: url("../images/jinglingtu.png") no-repeat 0 -338px;
}

/*********************************header end************************/

/*********************************mainbody start************************/
.mainbody {
    width: 1349px;
    height: 885px;
    border-bottom: 1px solid #eaeaea;
}

.banner {
    width: 1349px;
    height: 409px;
}

.start {
    width: 1349px;
    height: 144px;
    box-sizing: border-box;
    line-height: 144px;
    background-color: #fa6f0a;
}

.start p {
    margin-left: 75px;
    font-size: 24px;
    color: #fff;
    float: left;
}

.start span {
    display: inline-block;
}

.start .button {
    position: relative;
    top: 20px;
}

.start .button img {
    cursor: pointer;
}

.start .button:first-of-type {
    margin-left: 100px;
}

.start .or {
    color: #fff;
    font-size: 14px;
    padding: 0 52px;
}

.start .contact {
    display: inline-block;
    width: 360px;
    height: 70px;
}

.start .contact .phone {
    width: 33px;
    height: 43px;
    display: inline-block;
    position: relative;
    top: 20px;
    background: url("../images/jinglingtu.png") no-repeat 0 -278px;
}

.start .contact .contact_right {
    position: relative;
    top: -106px;
    left: -40px;
}

.start .contact .contact_right p {
    font-size: 14px;
    line-height: 16px;
}

.start .contact .contact_right .qq {
    width: 44px;
    height: 26px;
    display: inline-block;
    background: url("../images/jinglingtu.png") no-repeat 0 -187px;
}

.start .contact .contact_right span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bottom {
    width: 1349px;
    height: 273px;
    background-color: #333;
    box-sizing: border-box;
    padding-top: 35px;
    padding-left: 75px;
}

.bottom dl {
    float: left;
    padding-right: 80px;
}

.bottom dl dt a, .vcode dl dt {
    color: #eb9624;
    font-size: 14px;
    line-height: 26px;
}

.bottom dl dd a, .vcode dl dd {
    color: #fff;
    line-height: 20px;
}

.bottom dl a:hover {
    text-decoration: underline;
}

.bottom .vcode {
    position: relative;
    left: 30px;
    float: left;
}

.bottom .vcode span {
    float: left;
}

.bottom .vcode dl {
    margin-left: 15px;
}

.bottom .vcode dl dd img {
    position: relative;
    top: 6px;
    margin-right: 5px;
}

.link {
    width: 1349px;
    height: 58px;
    line-height: 58px;
    text-align: center;
}

.link a {
    color: #333;
}

.link a:hover {
    color: #ff6800;
}

/*********************************mainbody end************************/

/*********************************footer start************************/
footer {
    text-align: center;
    padding-top: 20px;
}

.about p {
    line-height: 22px;
    color: #4d4d4d;
}

.about p a {
    color: #4d4d4d;
    line-height: 20px;
}

.about p a:hover {
    color: #ff5a00;
}

.about .city a {
    color: #f86d0d;
    margin: 0 5px;
}

.about .city a:hover {
    text-decoration: underline;
}

.about .icon {
    margin-top: 10px;
}

/*********************************footer end************************/